body{
    background-color: #767676;
}
:root{
    --c1:
    #bdfff6;
    --c2:#f6ff00;
    --c3:#6f75b0cf;
    
    
}

header{
    padding: 5px;
    margin-bottom: 40px;
    background-color: var(--c3);
    border-bottom: var(--c2) solid;
    color: white;
    text-align: center;
    border-radius: 100px;

}

.etiqueta img{
    width: 100%;
    height: 400px;
    margin: 0;
    object-fit: cover;
}

.etiqueta{
    border: var(--c1) solid;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    
}

.etiqueta h2{
    background-color: var(--c1);
    border: var(--c2) solid;
    padding: 10px;
    border-radius: 30px;
    color:var(--c3);
    text-align: center;
    margin: 10px auto;
    margin-top: 0px;
    width: 40%;
    
}

.datos1{

}

.datos2{
    background-color:var(--c3) ;
    color: white;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;

}

button{
    padding: 10px;
    background-color: var(--c1);
    border: var(--c2) solid;
    color: black;

}