/* Reset de estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 20px;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #4CAF50;
}

h2 {
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    color: #333;
}

#catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-bottom: 30px;
}
ul{
    list-style:none;
}
li{
    margin: 20px;
}

.producto {
    background-color: white;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.producto:hover {
    transform: scale(1.05);
}

.producto h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.producto p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

.producto img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
}

.producto button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.producto button:hover {
    background-color: #45a049;
}

h4 {
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 15px;
    color: #333;
}

#total {
    font-size: 1.5em;
    color: #4CAF50;
    font-weight: bold;
}

button {
    display: block;
    margin: 10px auto;
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e53935;
}
