body{
    background-color: #8989fc;
}

main{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    
    text-align: center;
}
img{
    width: 200px;
}
.banderado{
    text-align: center;
    background-color: #ebebfb;
    border-radius: 20px;
    gap: 10px;
    padding: 5px;

}

button{
    margin: 15px;
    padding: 10px;
    border-radius: 20px;
    color:white;
    border:4px white solid;
    outline: 4px rgb(112, 0, 26) solid;
    background-color: rgb(112, 0, 26);
}