body{
    background-color: #8989fc;
}

main{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
}
img{
    width: 30px;
}
.banderado{
    text-align: center;
    background-color: #ebebfb;
    border-radius: 20px;
    gap: 10px;
    padding: 5px;

}