@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --c2: rgb(232, 72, 72);
    --c1: #92c76c;
    --c3: white;
    
    --ff1: italic;
    --ff2: "Sour Gummy", serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

img {
    background-color: white;
    width: 200px;
}


header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--c1);
    box-shadow: 0 2px 8px black;
    padding: 10px;
    margin: 0;
    min-width: 320px;
}

header img {
    padding: 0;
    height: 150px;
    border-radius: 50%;
    object-fit: fill;
    margin: 20px;
}

#logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

#textlogo {
    font-size: 35px;
    font-weight: bold;
    color: var(--c3);
    text-shadow: 3px 4px 0px rgb(116, 54, 4);
    font-family: var(--ff1);
    text-align: center;
    margin: 5px;
    background-color: black;
    box-shadow: 2px 2px 5px rgb(248, 247, 247);
    border-radius: 40px;
    padding: 10px;
}

#greenF {
    color: var(--c1);
}

#redF {
    color: var(--c2);
}

#whiteF {
    color: var(--c3);
}

header nav {
    margin: 20px;
}

header nav ul {
    display: flex;
    flex: wrap;
    gap: 10px;
    list-style: none;
    padding-left: 0;
}

header nav a {
    color: var(--c2);
    font-family: var(--ff1);
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    background-color: var(--c3);
    transition: 0.3s;
    border-radius: 40px;

}

nav li {
    background-color: var(--c3);
    padding: 5px;
    text-align: center;
    align-items: center;
    box-shadow: 2px 2px 6px black;
    transition: 0.3s;
    border-radius: 20px;
    border-bottom: 4px var(--c2) solid;

}

nav li:hover,
li:hover a {
    background-color: var(--c2);
    scale: 1.05;
    color: white;
}

#intro img {
    width: 100%;
    margin: 0;
    max-height: 600px;
    margin-bottom: 20px;
    border-bottom: 4px var(--c2) solid;

}

html {
    padding: 0;
    background-color: rgb(246, 186, 175);
}

body {
    margin: 10px 10px auto;
    padding: 10px;
    background: white;
    max-width: 1520px;
    min-width: 320px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px black;
    transition: 1s;
}

main {
    margin: 30px;
}

ul {
    list-style: none;
}

article {
    margin-bottom: 30px;
    border-bottom: 2px var(--c1) solid;
}

#contactos a {
    text-decoration: none;
    color: var(--c2);
}

summary {
    text-align: center;
    font-weight: bold;
    background-color: var(--c2);
    border-radius: 20px;
    padding: 10px;
    margin-right: 75%;
    margin-bottom: 10px;
    margin-left: 10px;
    color: white;
    box-shadow: 2px 2px 10px var(--c1);
    width: 200px;
    transition: 0.3s;
}

summary:hover{
    color: var(--c2);
    background-color: var(--c3);

}

details {

    margin: 20px;
    transition: 0.3s;
    border-radius: 20px;


}

details[open] {
    box-shadow: 3px 3px 8px black;
    background: white;
    margin: 10px;
    padding: 20px;
}



#servicios ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}

#generaImg {
    text-align: center;
    align-items: center;
    background-color: aliceblue;
    border: 6px var(--c1) solid;
    border-radius: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    max-width: 1200px;
    max-height: 800px;
    box-shadow: 1px 1px 5px black;

}

#generaImg img {
    width: 100%;
    height: 600px;


}

.botones {
    margin-bottom: 10px;
}

button {
    margin-bottom: 10px;
    margin-right: 20px;
    background-color: var(--c2);
    color: var(--c3);
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 1px 1px 5px black;
    font-family: var(--ff2);
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background-color: var(--c3);
    color: var(--c2);
    box-shadow: 1px 1px 10px var(--c1);
}



h1 {

    font-size: clamp(12px, 20vw, 62px);
    text-align: center;
    margin-bottom: 20px;
    background-color: var(--c1);
    color: white;
    border-radius: 40px;
    padding: 5px;
    box-shadow: 0px 2px 8px black;
    text-shadow: 1px 1px 2px black;
}

#F {
    background-color: black;
    border-radius: 10px;
    padding: 3px;
}

h2 {
    font-size: 35px;
    color: var(--c1);
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-bottom: 5px var(--c1) solid;
    text-shadow: 1px 1px 0px black;
    background-color: #cccccc67;
    border-radius: 20px 20px 0 0;
    padding: 5px;
}

h3 {
    font-size: 25px;
    color: var(--c2);
}

h1,
h2,
h3 {
    font-family: var(--ff2);
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
    font-family: sans-serif;
}

footer {
    background-color: var(--c1);
    color: var(--c3);
    text-align: center;
    padding: 20px;
    font-size: 1rem;
    position: relative;
    border-radius: 20px;
}

footer a {
    text-decoration: none;
    color: var(--c2);
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
}

footer a:hover{
    color: var(--c3);
}

@media(max-width:700px) {

    body,
    * {

        border-radius: 0;
        margin: 0;
        box-shadow: 0;
    }


    @media(max-width:700px) {
        #generador {
            display: none;

        }

    }
}

@media(max-width:350px) {
    #servicios summary {
        border-radius: 0px;
    }
}