ul{
    list-style: none;
}
a{
    text-decoration: none;
}

/* Estilo para el nav generado por constructorMenu('classheader') */
.classheader ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #333; 
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.classheader ul li {
    display: inline-block;
    margin-right: 20px;
}

.classheader ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 12px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.2s;
}

.classheader ul li a:hover {
    background-color: #555; 
    transform: scale(1.1); 
}

.classheader ul li a:active {
    background-color: #444;
}


/* Estilo para el nav generado por constructorMenu('classfooter') */
.classfooter ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: linear-gradient(45deg, #6a11cb, #2575fc); 
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.classfooter ul li {
    margin-right: 30px;
}

.classfooter ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 30px;
    transition: background-color 0.3s, transform 0.3s;
}

.classfooter ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2); 
    transform: scale(1.1); 
}

.classfooter ul li a:active {
    background-color: rgba(255, 255, 255, 0.4); 
}

